
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {

    .left_area {
        display: none;
    }
    .right_area {
        width: 100%;
        float: none;
    }
    .site_content_box {
        width: 100%;
        max-width: 644px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .site_logo {
        margin-left: 0px;
    }
    .nav-link{
        white-space: nowrap;
    }

}
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

    .mob_none{
        display: none;
    }




}
